@import "tailwindcss";

.active-btn{
    border: 2px solid #4f46e5;
    background-color: #e0e7ff;
    color: #4f46e5;
}

/* border-2 border-indigo-500 rounded-2xl p-4 flex flex-col items-center justify-center gap-2 cursor-pointer relative bg-indigo-50 */